body {
  background-color: #17171f;
  color: #efefe7;
  padding: 10px;
  line-height: 1.5em;
  font-family: monospace;
  font-size: 18px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  color: lime;
  font-size: 36px;
  span {
    opacity: 0.4;
  }
}

a,
a:active,
a:visited {
  color: rgb(255, 174, 0);
  transition: all 200ms;

  &:hover {
    color: rgb(255, 206, 99);
  }
}

.comment {
  opacity: 0.3;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

.smaller {
  font-size: 0.8em;
}

#stopRandomLink {
  height: 0;
  display: block;
  overflow: hidden;
}

#cursor {
  background-color: #efefe7;
  display: inline-block;
  height: 1em;
  width: 8px;
  animation: blink 500ms alternate infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
