body {
  background-color: #17171f;
  color: #efefe7;
  padding: 10px;
  line-height: 1.5em;
  font-family: monospace;
  font-size: 18px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

header {
  position: relative;
  h1 {
    color: lime;
    font-size: 36px;
    span {
      opacity: 0.4;
    }
  }

  .theme-select {
    background-color: #f0f0f0;
    position: absolute;
    right: 0;
    top: -25px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    color: #17171f;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    transition: all 200ms;

    i {
      display: none;
    }
  }
}

a,
a:active,
a:visited {
  color: rgb(255, 174, 0);
  transition: color 200ms;
  &:hover {
    color: rgb(255, 206, 99);
  }
}

.comment {
  opacity: 0.3;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

.smaller {
  font-size: 0.8em;
}

#stopRandomLink {
  height: 0;
  display: block;
  width: 180px;
  overflow: hidden;
  transition:
    height 200ms,
    color 200ms;
}

#cursor {
  background-color: #efefe7;
  display: inline-block;
  height: 1em;
  width: 8px;
  animation: blink 500ms alternate infinite;
}

body.light {
  background-color: #f0f0f0;
  color: #2b2b28;

  h1 {
    color: rgb(26, 117, 26);
  }

  a,
  a:active,
  a:visited {
    color: rgb(143, 98, 0);

    &:hover {
      color: rgb(87, 59, 0);
    }
  }

  .theme-select {
    background-color: #2b2b28;
    color: #efefe7;
  }

  #cursor {
    background-color: #2b2b28;
  }
}

body.matrix {
  background-color: #000;
  color: #0f0;
  text-shadow: 0 0 10px #0f0;

  h1 {
    color: #0f0;
  }

  a,
  a:active,
  a:visited {
    color: #0f0;

    &:hover {
      color: #6f6;
      text-shadow: 0 0 10px #6f6;
    }
  }

  #cursor {
    background-color: #0f0;
  }

  .theme-select {
    background-color: #0f0;
    color: #000;
  }
}

body.text {
  background-color: #fff;
  color: #000;
  font-family: serif;

  h1 {
    color: #000;
    span {
      opacity: 1;
    }
  }

  a,
  a:active,
  a:visited {
    color: #00f;

    &:hover {
      color: rgb(153, 0, 153);
    }
  }

  #cursor {
    background-color: #000;
  }

  .comment {
    opacity: 1;
  }

  .theme-select {
    background-color: #000;
    color: #fff;
    border-radius: 0;
  }
}

body.dance {
  * {
    transition: all 500ms !important;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
